* {
  margin: 0;
  padding: 0;
}
h4 {
  font-family: Arial, sans-serif;
  font-size: 2.6vh;
}
.input-box {
  width: 100%;
  padding: 7px 19px;
  margin: 8px 0;
  box-sizing: border-box;
}
.j-content {
  display: flex;
  justify-content: center;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: black;
}
.a-white:link {
  text-decoration: none;
  color: whitesmoke;
}
.a-white:visited {
  text-decoration: none;
  color: whitesmoke;
}
.a-white:hover {
  text-decoration: underline;
  color: whitesmoke;
}
.white {
  color: whitesmoke;
}
.to-row {
  display: flex;
  flex-direction: row;
}
.to-column {
  display: flex;
  flex-direction: column;
}
.header1 {
  width: 100vw;
  height: 5vh;
  background-color: #515358;
  overflow: hidden;
  align-items: center;
  color: whitesmoke;
  font-size: x-small;
}
.head-divsion {
  width: 37vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.head-divsion2 {
  width: 37vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 21vw;
}
.head1-text {
  padding-right: 20px;
  font-size: 13px;
}
.h-text-color {
  color: aliceblue;
}
.logo {
  width: 15vw;
  /* height: 12vh; */
}
.image-adjustment {
  margin-right: 1.8vw;
  margin-top: 0.8vh;
}
.main-head {
  height: 17vh;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0px 0px 15px black;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  overflow: hidden;
}
.main-head-padding {
  width: 16vw;
}
.v-line {
  border-left: 1px solid lightgray;
  height: 30%;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 10px;
}
.h-small-text {
  font-size: 0.6rem;
  color: gray;
  font-family: Arial, sans-serif;
  margin-bottom: 14%;
}
.log-on-to-bar {
  display: flex;
  align-items: flex-end;
  height: 5vh;
  width: 85vw;
  background-color: #f8f8f8;
  padding-left: 15.3vw;
}
.log-on-to-bar-text {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  /* font-weight: 510; */
}
.body {
  display: flex;
  width: 100vw;
  height: 39vh;
}
.o-o {
  width: 29.4vw;
  font-family: Arial, sans-serif;
}
.o-o-heading {
  padding-top: 9.4vh;
  padding-left: 2.1vw;
}
.h-line {
  margin: 2.5vh;
  width: 25vw;
  height: 1px;
  background-color: lightgray;
}
.o-o-exp {
  padding-top: 1vh;
  padding-left: 2.1vw;
  font-size: 0.87rem;
}
.o-o-button {
  padding-left: 2vw;
  padding-top: 1vh;
}
.myButton {
  box-shadow: inset 0px 39px 0px -24px #e67a73;
  background-color: #c00c0b;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 17px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.myButton:hover {
  background-color: #eb675e;
}
.myButton:active {
  position: relative;
  top: 1px;
}
.button-adj {
  padding: 8px 0 0 11px;
}
.rember-my-name {
  margin-left: 2.1vw;
  /* padding-top: -5vh; */
}
.o-o-Forget {
  margin: 1vh 0 0 2vw;
  font-size: 0.8rem;
}
.t-t {
  margin-left: 3.2vw;
  padding-top: 1vh;
}
.t-t-v-line {
  margin: 5.15vh 0 0 3vw;
  background-color: lightgray;
  width: 1px;
  height: 19vw;
}
.Register-for-online-Banking {
  margin: 9vh 0 0 2vw;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
.Manage-your-money {
  margin: 6vh 0 0 1.5vw;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
}
.t-t-button {
  margin: 5.9vh 0 0 1.9vw;
}
.t-t-button-size {
  width: 190px;
}
.long-h-line {
  margin-top: 6vh;
  width: 65vw;
  height: 1px;
  background-color: lightgray;
}
.c-align {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.Bussiness-customers {
  margin: 7.8vh 0 0 1.4vw;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
.Log-on-to-bussiness {
  margin: 5.3vh 0 0 3.1vw;
  font-family: Arial, sans-serif;
  /* font-weight: bold; */
  font-size: 0.9rem;
}
.protecting-your-money {
  margin: 20vh 0 0 2.2vw;
}
.protecting-your-money-images {
  width: 15vw;
}
.how-to-stay-safe-online {
  margin: 20vh 0 0 0.8vw;
}
.how-to-stay-safe-online-images {
  width: 15vw;
}
.v-line2 {
  width: 1px;
  background-color: lightgray;
  height: 48vh;
}
.Mobile-Banking {
  margin: 8vh 0 0 1.8vw;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
.f-f-exp {
  margin: 1.7vh 0 0 1.8vw;
  font-family: Arial, sans-serif;
  font-size: 0.81rem;
}
.Download-the-app {
  margin: 5vh 0 0 1.7vw;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}
.store-adj {
  margin: 4vh 0 0 1.8vw;
}
.appstore-resize {
  width: 12vw;
  border-radius: 9px;
}
.playstore-resize {
  width: 13vw;
  border-radius: 9px;
}
.find-out-more {
  margin: 2.5vh 0 0 1.8vw;
  font-family: Arial, sans-serif;
  font-size: 0.8rem;
}
.bottom-images {
  width: 20vw;
  height: 36vh;
  margin-bottom: 15px;
}
.font-change {
  font-family: Arial, sans-serif;
  font-size: 0.8rem;
}
.small-footer {
  width: 100vw;
  height: 10vh;
  background-color: #71747c;
}
.big-footer {
  width: 100vw;
  height: 42vh;
  background-color: #3e4045;
}
.small-bar-font {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
}
.Help-Support {
  margin-left: 17.5vw;
  display: flex;
  align-items: center;
}
.Find-a-branch {
  margin-left: 5.5vw;
  display: flex;
  align-items: center;
}
.big-bar-font-margin {
  margin-top: 13px;
}
.bottom-text {
  font-family: Arial, sans-serif;
  font-size: 0.6rem;
  margin-right: 29px;
}
