@media screen and (max-width: 841px) {
  h4 {
    font-family: Arial, sans-serif;
    font-size: 1.9vw;
  }
  .input-box {
    width: 20vw;
    padding: 0.23vw;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .j-content {
    display: flex;
    justify-content: center;
  }
  a:link {
    text-decoration: none;
    color: black;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
    color: black;
  }
  .a-white:link {
    text-decoration: none;
    color: whitesmoke;
  }
  .a-white:visited {
    text-decoration: none;
    color: whitesmoke;
  }
  .a-white:hover {
    text-decoration: underline;
    color: whitesmoke;
  }
  .white {
    color: whitesmoke;
  }
  .to-row {
    display: flex;
    flex-direction: row;
  }
  .to-column {
    display: flex;
    flex-direction: column;
  }
  .header1 {
    width: 100vw;
    height: 3.8vw;
    background-color: #515358;
    overflow: hidden;
    align-items: center;
    color: whitesmoke;
    font-size: x-small;
  }
  .head-divsion {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2.1vw;
  }
  .head-divsion2 {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3.7vw;
  }
  .head1-text {
    padding-right: 20px;
    font-size: 1.3vw;
    font-family: Arial, sans-serif;
  }
  .h-text-color {
    color: aliceblue;
  }
  .logo {
    width: 23vw;
  }
  .image-adjustment {
    /* width: 10vw; */
    /* margin-right: 1.8vw; */
    margin-top: 2vh;
    display: flex;
  }
  .main-head {
    height: 11vw;
    width: 99vw;
    background-color: #fff;
    box-shadow: 0px 0px 15px black;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    overflow: hidden;
  }

  .v-line {
    border-left: 1px solid lightgray;
    height: 30%;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 10px;
  }
  .h-small-text {
    font-size: 1vw;
    color: gray;
    font-family: Arial, sans-serif;
    margin-bottom: 14%;
  }
  .log-on-to-bar {
    display: flex;
    align-items: center;
    height: 3vw;
    background-color: #f8f8f8;
    padding-left: 2vw;
  }
  .log-on-to-bar-text {
    font-family: Arial, sans-serif;
    font-size: 3vw;
    /* font-weight: 510; */
  }
  .one {
    width: 47vw;
    height: 34vw;
    /* background-color: #bcbdbe; */
  }
  .two {
    width: 47vw;
    height: 34vw;
    /* background-color: #c5def7; */
  }
  .body {
    display: flex;
    width: 100vw;
    height: 39vh;
  }
  .o-o {
    width: 29.4vw;
    font-family: Arial, sans-serif;
  }
  .o-o-heading {
    padding-top: 7.3vw;
    padding-left: 2.1vw;
  }
  .h-line {
    margin: 2.5vh;
    width: 90vw;
    height: 1px;
    background-color: lightgray;
  }
  .o-o-exp {
    padding-top: 4.9vw;
    padding-left: 2.1vw;
    font-size: 1.6vw;
  }
  .input-section {
    width: 20vw;
    margin-left: 2vw;
  }
  .myButton {
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #c00c0b;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 1.2vw;
    padding: 1vw 2.2vw;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
  }
  .myButton:hover {
    background-color: #eb675e;
  }
  .myButton:active {
    position: relative;
    top: 1px;
  }
  .button-adj {
    margin: 1.5vw 0 0 1.3vw;
  }
  .rember-my-name {
    margin-left: 2.1vw;
    font-size: 2vw;
  }
  .o-o-Forget {
    margin: 2vh 0 0 2vw;
    font-size: 1.5vw;
  }
  .t-t {
    margin-left: 3.2vw;
    padding-top: 1vh;
  }
  .t-t-v-line {
    margin: 5.15vh 0 0;
    background-color: lightgray;
    width: 1px;
    height: 25vw;
  }
  .Register-for-online-Banking {
    margin: 7.8vw 0 0 2.5vw;
    font-family: Arial, sans-serif;
    font-size: 1.8vw;
    font-weight: bold;
  }
  .Manage-your-money {
    margin: 5vw 0 0 3vw;
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
  }
  .t-t-button {
    margin: 2.7vw 0 0 2.3vw;
  }
  .t-t-button-size {
    width: 19vw;
  }
  .long-h-line {
    margin-top: 6vh;
    width: 65vw;
    height: 1px;
    background-color: lightgray;
  }
  .c-align {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
  }
  .Bussiness-customers {
    margin: 7vw 0 0 1.8vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.9vw;
  }
  .Log-on-to-bussiness {
    margin: 4vw 0 0 4vw;
    font-family: Arial, sans-serif;
    /* font-weight: bold; */
    font-size: 1.6vw;
  }
  .protecting-your-money {
    margin: 13vw 0 0 3vw;
  }
  .protecting-your-money-images {
    width: 21vw;
  }
  .how-to-stay-safe-online {
    margin: 14vw 0 0 1vw;
  }
  .how-to-stay-safe-online-images {
    width: 19vw;
  }
  .v-line2 {
    width: 1px;
    background-color: lightgray;
    height: 36vw;
  }
  .Mobile-Banking {
    margin: 7vw 0 0 3vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 2vw;
  }
  .f-f-exp {
    margin: 1.7vh 0 0 3vw;
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
  }
  .Download-the-app {
    margin: 5vh 0 0 4.2vw;
    font-family: Arial, sans-serif;
    font-size: 1.6vw;
    font-weight: bold;
  }
  .download-app-store {
    margin: 11wh 0 0 1.8vw;
  }
  .store-adj {
    /* width: 40vw;
    height: 10vw; */
    /* background-color: #515358; */
    margin: 3vh 0 0 4.1vw;
  }
  .appstore-resize {
    width: 17vw;
    border-radius: 5px;
  }
  .download-play-store {
    margin-left: 1vw;
  }
  .playstore-resize {
    width: 17vw;
    border-radius: 5px;
  }
  .find-out-more {
    margin: 2.5vh 0 0 3.5vw;
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
  }
  .bottom-imges-box {
    width: 100vw;
    height: 40vw;
    display: flex;
    justify-content: center;
  }
  .bottom-images {
    width: 30vw;
    height: 25vw;
    margin-bottom: 15px;
  }
  .font-change {
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
  }
  .small-footer {
    width: 99vw;
    height: 10vh;
    background-color: #71747c;
  }
  .big-footer {
    width: 99vw;
    height: 42vh;
    background-color: #3e4045;
  }
  .small-bar-font {
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
  }
  .Help-Support {
    margin-left: 17.5vw;
    display: flex;
    align-items: center;
  }
  .Find-a-branch {
    margin-left: 5.5vw;
    display: flex;
    align-items: center;
  }
  .big-bar-font-margin {
    margin-top: 2vh;
    font-size: 1vw;
  }
  .bottom-text {
    font-family: Arial, sans-serif;
    font-size: 0.8vw;
    margin-right: 2vw;
  }
  .foot-text {
    font-size: 10vw;
  }
}
