@import url("./index2.css");
* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 841px) {
  .hide-it {
    display: none;
  } /* hide it elsewhere */
}

@media screen and (min-width: 841px) {
  a {
    /* color: var(--color-dark); */
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .hideit-t {
    display: none;
  }
  h4 {
    font-family: Arial, sans-serif;
    font-size: 1.29vw;
  }
  .input-box {
    width: 100%;
    padding: 7px 19px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .j-content {
    display: flex;
    justify-content: center;
  }
  a:link {
    text-decoration: none;
    color: black;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: underline;
    color: black;
  }
  .a-white:link {
    text-decoration: none;
    color: whitesmoke;
  }
  .a-white:visited {
    text-decoration: none;
    color: whitesmoke;
  }
  .a-white:hover {
    text-decoration: underline;
    color: whitesmoke;
  }
  .white {
    color: whitesmoke;
  }
  .to-row {
    display: flex;
    flex-direction: row;
  }
  .to-column {
    display: flex;
    flex-direction: column;
  }
  .header1 {
    width: 99vw;
    height: 5vh;
    background-color: #515358;
    overflow: hidden;
    align-items: center;
    color: whitesmoke;
    font-size: x-small;
  }
  .head-divsion {
    width: 37vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .head-divsion2 {
    width: 37vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 21vw;
  }
  .head1-text {
    padding-right: 20px;
    font-size: 1vw;
  }
  .h-text-color {
    color: aliceblue;
  }
  .logo {
    width: 15vw;
    /* height: 12vh; */
  }
  .image-adjustment {
    /* width: 10vw; */
    margin-right: 1.8vw;
    margin-top: 0.8vh;
  }
  .main-head {
    height: 17vh;
    width: 99vw;
    background-color: #fff;
    box-shadow: 0px 0px 15px black;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    overflow: hidden;
  }
  .main-head-padding {
    width: 16vw;
  }
  .v-line {
    border-left: 1px solid lightgray;
    height: 30%;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 10px;
  }
  .h-small-text {
    font-size: 0.7vw;
    color: gray;
    font-family: Arial, sans-serif;
    margin-bottom: 14%;
  }
  .log-on-to-bar {
    display: flex;
    align-items: flex-end;
    height: 3vw;
    background-color: #f8f8f8;
    padding-left: 15.3vw;
  }
  .log-on-to-bar-text {
    font-family: Arial, sans-serif;
    font-size: 1.75vw;
    /* font-weight: 510; */
  }
  .body {
    display: flex;
    width: 100vw;
    height: 39vh;
  }
  .o-o {
    width: 29.4vw;
    font-family: Arial, sans-serif;
  }
  .o-o-heading {
    padding-top: 9.4vh;
    padding-left: 2.1vw;
  }
  .h-line {
    margin: 2.5vh;
    width: 25vw;
    height: 1px;
    background-color: lightgray;
  }
  .o-o-exp {
    padding-top: 1vh;
    padding-left: 2.1vw;
    font-size: 1.2vw;
  }
  .o-o-button {
    padding-left: 2vw;
    padding-top: 1vh;
  }
  .myButton {
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background-color: #c00c0b;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 1.2vw;
    padding: 1vh 1vw;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
  }
  .myButton:hover {
    background-color: #eb675e;
  }
  .myButton:active {
    position: relative;
    top: 1px;
  }
  .button-adj {
    padding: 8px 0 0 11px;
  }
  .rember-my-name {
    margin-left: 2.1vw;
    font-size: 1vw;
  }
  .o-o-Forget {
    margin: 2vh 0 0 2vw;
    font-size: 1.1vw;
  }
  .t-t {
    margin-left: 3.2vw;
    padding-top: 1vh;
  }
  .t-t-v-line {
    margin: 5.15vh 0 0 3vw;
    background-color: lightgray;
    width: 1px;
    height: 19vw;
  }
  .Register-for-online-Banking {
    margin: 9vh 0 0 2vw;
    font-family: Arial, sans-serif;
    font-size: 1.3vw;
    font-weight: bold;
  }
  .Manage-your-money {
    margin: 6vh 0 0 1.5vw;
    font-family: Arial, sans-serif;
    font-size: 1.1vw;
  }
  .t-t-button {
    margin: 5.9vh 0 0 1.9vw;
  }
  .t-t-button-size {
    width: 14vw;
  }
  .long-h-line {
    margin-top: 6vh;
    width: 65vw;
    height: 1px;
    background-color: lightgray;
  }
  .c-align {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
  }
  .Bussiness-customers {
    margin: 7.8vh 0 0 1.4vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
  }
  .Log-on-to-bussiness {
    margin: 5.3vh 0 0 3.1vw;
    font-family: Arial, sans-serif;
    /* font-weight: bold; */
    font-size: 1.1vw;
  }
  .protecting-your-money {
    margin: 20vh 0 0 2.2vw;
  }
  .protecting-your-money-images {
    width: 15vw;
  }
  .how-to-stay-safe-online {
    margin: 20vh 0 0 0.8vw;
  }
  .how-to-stay-safe-online-images {
    width: 15vw;
  }
  .v-line2 {
    width: 1px;
    background-color: lightgray;
    height: 48vh;
  }
  .Mobile-Banking {
    margin: 8vh 0 0 1.8vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.3vw;
  }
  .f-f-exp {
    margin: 1.7vh 0 0 1.8vw;
    font-family: Arial, sans-serif;
    font-size: 1vw;
  }
  .Download-the-app {
    margin: 5vh 0 0 1.7vw;
    font-family: Arial, sans-serif;
    font-size: 1.1vw;
    font-weight: bold;
  }
  .store-adj {
    margin: 4vh 0 0 1.8vw;
  }
  .appstore-resize {
    width: 12vw;
    border-radius: 9px;
  }
  .playstore-resize {
    width: 13vw;
    border-radius: 9px;
  }
  .find-out-more {
    margin: 2.5vh 0 0 1.8vw;
    font-family: Arial, sans-serif;
    font-size: 0.9vw;
  }
  .bottom-images {
    width: 20vw;
    height: 36vh;
    margin-bottom: 15px;
  }
  .font-change {
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
  }
  .small-footer {
    width: 99vw;
    height: 10vh;
    background-color: #71747c;
  }
  .big-footer {
    width: 99vw;
    height: 42vh;
    background-color: #3e4045;
  }
  .small-bar-font {
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
  }
  .Help-Support {
    margin-left: 17.5vw;
    display: flex;
    align-items: center;
  }
  .Find-a-branch {
    margin-left: 5.5vw;
    display: flex;
    align-items: center;
  }
  .big-bar-font-margin {
    margin-top: 2vh;
    font-size: 1vw;
  }
  .bottom-text {
    font-family: Arial, sans-serif;
    font-size: 0.8vw;
    margin-right: 2vw;
  }
  .foot-text {
    font-size: 10vw;
  }
  .button {
    background-color: #bc0e0a;
    border: none;
    color: white;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 8px 9px;
    cursor: pointer;
    border-radius: 3px;
  }
  .button2 {
    width: 50%;
  }
}
