* {
  margin: 0;
  padding: 0;
}
h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  size: 1rem;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: black;
}
.a-white:link {
  text-decoration: none;
  color: whitesmoke;
}
.a-white:visited {
  text-decoration: none;
  color: whitesmoke;
}
.a-white:hover {
  text-decoration: underline;
  color: whitesmoke;
}
.white {
  color: whitesmoke;
}
.to-row {
  display: flex;
  flex-direction: row;
}
.header1 {
  width: 100vw;
  height: 3.4vh;
  background-color: #515358;
  overflow: hidden;
  align-items: center;
  color: whitesmoke;
  font-size: x-small;
}
.head-divsion {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.head1-text {
  padding-right: 10px;
}
.h-text-color {
  color: aliceblue;
}
.logo {
  width: 15vw;
  /* height: 12vh; */
}
.main-head {
  height: 14vh;
  background-color: #fff;
  box-shadow: 0px 0px 15px grey;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  overflow: hidden;
}
.main-head-padding {
  width: 22vw;
  height: 20vh;
  /* background-color: black; */
}
.v-line {
  border-left: 1px solid lightgray;
  height: 30%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.h-small-text {
  font-size: 0.6rem;
  color: gray;
  font-family: Arial, sans-serif;
  margin-top: 2px;
  margin-bottom: 9%;
}
.log-on-to-bar {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 3vw;
  background-color: #f8f8f8;
  padding-left: 22.2vw;
}
.log-on-to-bar-text {
  font-family: Arial, sans-serif;
  font-size: 1opx;
  /* font-weight: 510; */
}
